.hidden {
    display: none;
  }

/* #region  */

.body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 { 
    margin: 0;}

ul, ol {
    list-style: none;
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}

img{
        display:block;
        max-width: 100%;
        height: auto;
    }

.container {     
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    }  
    
button{
    cursor: pointer;
}

.section {
    padding: 96px 0;
  }

.input {
    font-family: inherit;
    line-height: inherit;
  }


@media only screen and (min-width: 768px) {
.container {
    max-width: 768px;
    }
  }

@media only screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    }
.section {
    padding: 120px 0;
    }
  }
 /* #endregion */

.teams-icon {
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#4D5AE5;
    
  }
.icons{
    fill:  #f4f4fd;
    display:flex; */
    justify-content:center;
    align-items:center;
    width:16px;
    height:16px; 
}


/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list, 
.address{
    display: none;
 }

.logo-main {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: #4d5ae5;
 }

.dark { 
    color:#2e2f42; }

.main{
    display: block;
    padding: 16px 0;
}

.btn-header{
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
 }

.btn-header-svg{
    display: block;
    fill: #2f2f37;
}


/* tablet screen */
@media only screen and (min-width:768px){ 
.main{
    padding: 24px 0;
    margin-right: 120px;
    }   
   
.btn-header{
    display: none;
    }

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    }
  
         
.address {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
    }

.logo-nav {
    display: flex; 
    align-items: center;   
    }

.header-item {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

.nav-link {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }

.nav-link.active {
    position: relative;
    }

.nav-link.active::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }

.address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    } 

.contact-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
.contact-link:hover ,
.contact-link:focus {
            color: #404bbf;}
    }
}

/* desktop screen */
@media only screen and (min-width: 1158px) { 
.main{
        margin-right: 76px;
       }

.address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    } 

.contact-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
        }

.contact-link:hover,
.contact-link:focus,
.contact-link.active
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #404bbf;}
}

/* #endregion */


/* #region  section1*/

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bgmob@1x.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    padding: 188px 0;  
    margin: 0 auto;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bgmob@2x.jpg); 
    }
  }

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 72px;
    text-transform: capitalize;
    max-width: 288px;
    margin: 0 auto;
}

.hero-button {
    margin-top: 72px;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer; 
    align-items: center; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
}

.hero-button:active,
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;}


/* tablet screen */
@media only screen and (min-width:768px){ 
    .hero{
        max-width: 768px; 
        padding: 96px 0px;  
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bgtab@1x.jpg);  
    }
    @media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bgtab@2x.jpg);
  }
}
.hero-title{
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;    
    }
}

/* desktop screen */
@media only screen and (min-width: 1158px) { 
    .hero{
     max-width: 1440px; 
     padding: 188px 0; 
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office1main@1x.jpg); 
    }

    @media only screen and (min-width: 1168px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office1main@2x.jpg);
  }
}
.hero-title{
        margin-bottom: 48px;
    }
 }






/* #endregion */


/* #region section2  */
.benefits {
    padding: 96px 0;
}
.benefits-title {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;}

.benefits-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
        justify-content: center;
        max-width: 100%;
        flex-wrap: wrap;
     }


.benefits-item {
        width: 288px;  
        
    }

.benefits-subtitle{
       letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;   
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
   } 

.benefits-text {
    color: #434455;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.benefits-icon{
    display: none;
}

/* tablet screen */
@media only screen and (min-width:768px){
.benefits-list{
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;  
    }

.benefits-item{
       width: calc((100% - 24px) / 2);
    }
.benefits-subtitle {
    text-align: left;
        }
 }

@media only screen and (min-width: 1158px) { 
.benefits{
      
    }

.benefits-list{
        gap: 24px; 
    }

.benefits-item{
    width: calc((100% - 72px) / 4);
}

.benefits-icon {
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display:flex;
    justify-content:center;
    align-items:center;
    }

.benefits-svg {
    width: 64px;
    height: 64px;
    }

.benefits-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
            }
    }


/* #endregion */


/* #region section3 */
.teams {
    background-color: #F4F4FD;
    }

.teams-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        }

.teams-list {   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 72px; 
    }     
            
.teams-item {
             text-align: center;
                background-color: #FFFFFF;
                border-radius: 0px 0px 4px 4px;
                box-shadow:
                 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.teams-div{
                padding: 32px 0; 
    }
            
.teams-caption {
                color: #2e2f42;
                letter-spacing: 0.02em;
                line-height: 1.2;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 8px;
    }
            
.teams-text {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 8px;
    } 
                     
.icon-icon{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 24px;
    margin-top: 8px;
    }

.teams-icon {
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#4D5AE5;
    transition: background-color 250 cubic-bezier(0.4, 0, 0.2, 1); 
    }

.teams-icon:hover,
.teams-icon:focus {
    background-color: #404BBF;
    }

.teams-list-icon{
    width: 40px;
    height: 40px;
    gap: 24px;
}

.icons{
    display:flex; 
    justify-content:center;
    align-items:center;
    width:16px;
    height:16px;
    fill: #f4f4fd;
    transition: background-color 250cubic-bezier(0.4, 0, 0.2, 1); 
    }
     
/* tablet screen */
@media only screen and (min-width:768px){ 
.teams-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    }
}

@media only screen and (min-width: 1158px) {
.teams{
            padding: 120px 0;
        }
.teams-list{
            gap: 24px; 
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: center;
        }
.teams-item{
            width: calc((100% - 72px) / 4);
          }
    }

/* #endregion */


/* #region section4 */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-title {
    margin-bottom: 72px; 
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 288px;
height: 400px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item:hover {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0%);
}

.bestseller-wrapper{
    position:relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-img {
    padding: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 288px;
}

.portfolio-img {
    display: block;
    width: 288px;
height: 280px; 
}

.overlay{
   position: absolute ;
   top: 0;
   left: 0;
   transform: translateY(100%);
   width: 100%;
   height: 100%;
   background-color: #4D5AE5;
   padding: 40px 32px;
   display: flex;
   letter-spacing: 0.02em; 
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #F4F4FD;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.overlay:hover .overlay{
    transform: translateY(0%);
}

.portfolio-item:hover .overlay{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-caption {
    color: #2E2F42;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px ;
}

.portfolio-text {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}






/* tablet screen */
@media only screen and (min-width:768px){
.container-portfolio{

}

.portfolio-list{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 72px 24px;
    }

.portfolio-item{
height: 420px;
        max-width: 356px;
    }

.container-img{
    max-width: 356px;
    }
.portfolio-img {
    display: block;
    width: 356px;
    height: 300px; 
    }
 }


/* desktop screen */
@media only screen and (min-width: 1158px) { 
    .container-portfolio{
    
    }
    .portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }
.portfolio-img {
        display: block;
        width: 360px;
height: 300px; 
    }
.portfolio-list{
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
       }

.portfolio-item{
    width: 360px;
height: 420px;
       
    }
.container-img{
        min-width: 360px;
        box-shadow: none;
    }
    }




/* #endregion */


/* #region footer  */
.footer {
    background: #2e2f42;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 96px 16px;
    color: #F4F4FD;
    letter-spacing: 0.02em; 
}

.container-footer{
 
    flex-wrap: wrap;
    gap: 72px 24px;
    
}

.footer-logo-top {  
    margin-bottom: 72px;
}

.footer-logo-top,
  .footer-wrapper {
    display: inline-block;
    margin-bottom:0;
 }

.footer-logo {
     color: #4d5ae5;
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     display: inline-block; 
     justify-content: center;
     display: flex;
}

.light {
    color: #f4f4fd;  
   }

.footer-logo-text { 
       color: #f4f4fd;
       line-height: 1.5;
       letter-spacing: 0.02em;
       font-weight: 400;
       font-size: 16px;
       max-width: 100%;
       display: block;
       margin: 0;
       margin-top: 16px;
   }

.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

.footer-wrapper-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.footer-socials {
    justify-content: center;
    display: flex;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}  

.teams-icon-footer{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teams-icon-footer:active,
.teams-icon-footer:hover ,
.teams-icon-footer:focus {
    background-color: #31d0aa;
}

.footer-mail{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.footer-input{
        width: 288px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
        opacity: 0.3;
    }

.button-footer {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    cursor: pointer; 
    }

.footer-btn-icon{
        margin-left: 16px;
        fill: #ffffff;
    }

.footer-form-label{
    margin-bottom: 16px;
}


/* tablet screen */
@media only screen and (min-width:768px){
.footer {
        justify-content: flex-start;
        padding: 96px 164px 96px 108px;

      }
.container-footer{
        margin: 0;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
       width: 496px;
       margin-left: auto;
       margin-right: auto;
    
    }
    
.footer-logo-top{
        margin-right: 24px;
    }

.footer-logo{
    display: inline-block;
    justify-content: flex-start;
    }

.footer-wrapper-text{
        justify-content: flex-start;
    }
.footer-logo-text{
    max-width: 264px;
}

.footer-wrapper{
    margin-bottom: 0;
}
.form{
        flex-direction: row;
    }
.footer-input{
        width: 264px;
        margin-bottom: 0;
    }
.button-footer{   
        }
.footer-form-label{
    margin-bottom: 0;
    margin-right: 24px;

}
 }


/* desktop screen */
@media only screen and (min-width: 1158px) {
.footer{
       padding: 156px 100px 159px 100px;
    }
.container-footer{
    width: auto;
        display: flex;
        margin: 0 auto;
        flex-wrap: nowrap;
       
    }

.footer-logo{
        justify-content: left;
    }

.footer-logo-top{
    width: 264px;
    height: 112px;
        margin-bottom: 0;
        margin-right: 120px;
    }

.footer-wrapper{
        margin-top:0;
        margin-right: 80px;
    }

.footer-mail{
        display: flex;
        margin: 0;
    }

.footer-input{
        opacity: 1;
    }
 }

/* #endregion */


/* #region  */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop .is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

.modal {
    width: 288px;
    min-height: 623px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fcfcfc;
    padding: 72px 16px 16px 16px;
    overflow-y: auto;

}

/* .backdrop:not(is-open).modal { 
    transform: translate(-50%, -50%) scale(1.5);
  } */

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus,
.modal-btn:hover{
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}
.modal-btn-input:focus,
.modal-btn-input:hover{
    fill: #4D5AE5;
    border: none;
}
.modal-form-icon:focus,
.modal-form-icon:hover
{ 
fill: #ffffff;
border: none;
}
.modal-form-input:focus + .modal-form-icon {
    fill: #4d5ae5;
}
.modal-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.modal-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    padding: 11px 38px;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-form-input:focus-visible,
.modal-form-input:focus{
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.modal-form-input:focus + .modal-form-icon{
    fill: #4d5ae5;
}

.modal-btn-icons{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
    pointer-events: none;
}

.modal-form-icon:focus{
    fill: #4D5AE5;
}
.modal-form-field-message{
    margin-bottom: 16px;
}
.modal-form-message{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus{
    border-color: #4D5AE5; 
}

.modal-form-egremeent {
    margin-bottom: 24px;
}

.modal-form-egremeent-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.modal-form-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.input-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
  }

input[type="checkbox"]:checked + .modal-form-egremeent-text .modal-form-checkbox {
    background-color:#404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-form-egremeent-link {
    color: #4d5ae5;
}

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
    font-family: "Roboto", sans-serif;

}


/* tablet screen */
@media only screen and (min-width:768px){
.modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
 }

/* #endregion */


/* #region  */
.mobail-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
     opacity: 0;
    pointer-events: none;
     visibility: hidden; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    border: 1px solid #000;

    display: flex;
    flex-direction: column;

}


.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }  

.mobail-menu-container {
 position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  overflow-y: scroll;
}

.mobile-menu-nav {
    margin-bottom: auto;
  }

.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
}
.button-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.mobail-list {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
color: #2E2F42;
text-transform: capitalize;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
    
}

.address-mobail {
    display: flex;
   margin-bottom: 48px;
 
}

.address-list-mobail {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobail-menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 40px;
}

.address-item-mobail {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
   
}
.mobail-list .active {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobail-list:hover,
 .mobail-list:focus,
 .mobail-list.active {
   color: #404bbf;}

.contact-link-mobail {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-mobail:hover,
.contact-link-mobail:focus,
.contact-link-mobail .active{
        color: #404bbf;
    }

.contact-link-mobail .active {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


@media only screen and (min-width:768px){
        .mobail-menu{
         display: none; 
        }
     }
    


/* #endregion */